# Data Science Tools & Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized

__Objectives:__
* The most populer languages for Data Science is : python, R ,SQL
* The Data Science Task Categories include:Data Management, Data Integration and Transformation, Data Visualization
* libraries for Data Science : Numpy, Pandas, Matplotlib
* ML libraries such as : scikit Learn

Some of the popular languages that Data Sciencs use:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientist are:
* Numpy
* Pandas 
* Matplotlib

Data Science Tools|
----------------------------
TensorFlow|
Apache Spark|
RStusio|

### Below are a few examples of evaluating arethmatic expressions in python

In [1]:
# this a simple arithmaatic expression to multiply then add integers
(3*4)+5

17

In [2]:
# this will convert 200 minutes into hours by dividing by 60
200/60

3.3333333333333335

## Auther
Menna Allah Maher